@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div style="margin-top: calc(23%);">
            <blockquote class="blockquote text-center text-light">
                <p class="mb-0">Mail Adresinizi Başarıyla Doğruladınız.</p>
                <footer class="blockquote-footer">Sıradan bir <cite title="Source Title">Ahmet Emin ST & Aybüke Arslan </cite>Yapıtı</footer>
                <footer class="blockquote mt-1"><a class="btn btn-dark" asp-controller="IcerikKontrol" asp-action="Index">Anasayfaya Dön</a></footer>
            </blockquote>
        </div>  